.msgUsBG{
    background-color: #F8F9FA;
}
.sendMsg{
    border-color: #7971ea;
    padding: 14px 20px;
    color: #fff;
    background: #7971ea;
    border-radius: 30px;
    font-size: .7rem;
    font-weight: 900;
    text-transform: uppercase;
}